---
import { FCMembers } from "@xivapi/nodestone";
import { Image } from "astro:assets";

const members = await new FCMembers().parse({ params: { fcId: "9235053248388344200" } });
---

<ol>
	{
		members.List.map((member) => (
			<li>
				<Image src={member.Avatar} alt={member.Name} class="avatar" width="100" height="100" />
				<div>
					<h3>
						<a href={`https://eu.finalfantasyxiv.com/lodestone/character/${member.ID}`}>{member.Name}</a>
					</h3>
					<p class="rank">
						<img src={member.FcRankIcon} /> {member.FcRank}
					</p>
				</div>
			</li>
		))
	}
</ol>

<style lang="scss">
	ol {
		list-style: none;
		flex-wrap: wrap;
		display: flex;
		gap: 40px;
	}

	li {
		display: flex;
		gap: 10px;

		a {
			color: inherit;
		}

		.avatar {
			border-radius: 10px;
		}

		.rank {
			align-items: center;
			gap: 5px;
			display: flex;
		}
	}
</style>
